body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container-pai {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.acoes img {
    width: 2.5rem;
    height: 2.5rem;
}

.acoes button {
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.container-cronometro{
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.container-cronometro h3 {
    font-size: 3rem;
    width: 80%;
    height: 80%;
    text-align: center;
    font-weight: 400;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#horas {
    background-color: #D9D9D9;
    width: 6rem;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
}

#minutos {
    background-color: #D9D9D9;
    width: 6rem;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
}

#segundos {
    background-color: #D9D9D9;
    width: 6rem;
    height: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
}

.container-cronometro p {
    font-size: 4rem;
    margin: auto;
}


.break {
    width: 100%;
    height: 30%;
    background-color: #D9D9D9;
    padding: 2rem 0;
}

.lugar-metas {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6rem;
    box-sizing: border-box;
    background-color: #818181;
}

.metas {
    display: flex;
    flex-direction: column;
}

.metas-container{
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-botton: -2rem;

}

.meta-nome {
    text-align: left;
    font-size: 1.5rem;
    color: white;
    flex: 1;
}


.meta-tempo {
    text-align: right;
    font-size: 1.3rem;
    color: white;
    white-space: nowrap;
    word-spacing: 6;
}





