{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusTime</title>
    <link rel="stylesheet" href="{% static "cronometro.css" %}">
    <link rel="icon" href="{% static "img/faviconBatmanTIRARDEPOIS.jpg" %}">
    <link rel="stylesheet" href="{% static "modal.css" %}">
</head>
<body>
    <section style="position: absolute; top: 20px; right: 20px;">
    <a href="{% url 'index' %}" class="btn-voltar">Voltar</a>
    </section>

    <section class="container-pai">
        <section class="container-cronometro" id="container-cronometro">
            <section class="cronometro">
                <section id="segundos">
                    <h3 style="z-index: 1">00</h3>
                </section>
                <p style="z-index: 1">:</p>
                <section id="minutos">
                    <h3 style="z-index: 1">00</h3>
                </section>
                <p style="z-index: 1">:</p>
                <section id="horas">
                    <h3 style="z-index: 1">00</h3>
                </section>

            </section>

            <section class="acoes" id="acoes">
                <button id="play" action="start">
                    <img src="{% static 'img/icon_play.png' %}" alt="Play">
                </button>

                <button id="restart">
                    <img src="{% static 'img/reiniciar.png' %}" alt="Play">
                </button>

            </section>



        </section>

        <span> Metas do usuário estão logo abaixo</span>
        
  

        <section class="lugar-metas" id="metas">
        {% if metas %}
        <div class="metas">
            {% for meta in metas %}
                <div class="metas-container">
                    <div class="meta-nome">
                        <p>{{ meta.nome_metas }}</p>
                    </div>
                   <div class="meta-tempo" style="flex-shrink: 0; margin-left: -10px;">
                        <p>{{ meta.horas_meta }} : {{ meta.minutos_meta }} : {{ meta.segundos_meta }}</p>
                    </div>

                    <div class="meta-acoes">
                        <div class="button-group">
                            <form action="{% url 'editar_metas' meta.id %}" method="get">
                                <button type="submit" class="btn-editar">Editar</button>
                            </form>
                            <form action="{% url 'deletar_metas' meta.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn-apagar" onclick="return confirm('Tem certeza que deseja apagar esta meta?')">Apagar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        </section>

    <script src="{% static '/cronometro.js' %}"></script>
    <script src="{% static '/modal.js' %}"></script>
</body>
</html>
