{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editar Meta - FocusTime</title>
    <link rel="stylesheet" href="{% static 'cronometro.css' %}">
    <link rel="stylesheet" href="{% static 'editarmetas.css' %}">  
    <link rel="stylesheet" href="{% static 'modal.css' %}">
</head>
<body>
    <section class="container-pai">

    
        <section class="container-cronometro" id="cronometro">
            <section id="segundos"><h3>00</h3></section>
            <p>:</p>
            <section id="minutos"><h3>00</h3></section>
            <p>:</p>
            <section id="horas"><h3>00</h3></section>
            <section class="acoes" id="acoes">
                <button id="play" action="start">
                    <img src="{% static 'img/icon_play.png' %}" alt="Play" />
                </button>
            </section>
        </section>

        
        <section class="container-edit" style="margin-top: 30px;">
            <div class="edit-box">
                <h2 class="edit-title">Editar Meta: {{ meta.nome_metas }}</h2>
                <form method="post" action="{% url 'editar_metas' meta.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <label>Nome da meta:</label>
                        <input type="text" name="nome-meta" value="{{ meta.nome_metas }}" class="nome-input" required />
                    </div>

                    <div class="input-group">
                        <label>Tempo (HH : MM : SS):</label>
                        <div class="time-inputs">
                            <input type="number" min="0" name="horas-meta" value="{{ meta.horas_meta }}" class="time-input" required />
                            <span>:</span>
                            <input type="number" min="0" max="59" name="minutos-meta" value="{{ meta.minutos_meta }}" class="time-input" required />
                            <span>:</span>
                            <input type="number" min="0" max="59" name="segundos-meta" value="{{ meta.segundos_meta }}" class="time-input" required />
                        </div>
                    </div>

                    <button type="submit" class="save-btn">Salvar</button>
                    <a href="{% url 'cronometro' %}" class="cancel-btn">Cancelar</a>
                </form>
            </div>
        </section>

    </section>

<script src="{% static 'cronometro.js' %}"></script>
<script src="{% static 'modal.js' %}"></script>
</body>
</html>
