{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusTime</title>
    <link rel="stylesheet" href="{% static "cronometro.css" %}">
    <link rel="stylesheet" href="{% static "modal.css" %}">
</head>
<body>
    <section class="container-pai">
        <section class="container-cronometro" id="cronometro">
            <section  id="segundos">
                <h3>00</h3>
            </section>
            <p>:</p>
            <section id="minutos">
                <h3>00</h3>
            </section>
            <p>:</p>
            <section id="horas">
                <h3>00</h3>
            </section>
            <section class="acoes" id="acoes">
                <button id="play" action="start">
                    <img src="{% static 'img/icon_play.png' %}" alt="Play">
                </button>
                
            </section>
        </section>
        <section class="break">
           <br/>
        </section>

        <section class="modals" id="modal">
            <section class="modal-content" id="modal-cont">
                <p>Insira a matéria que deseja depositar o tempo cronometrado</p>
                {% if materias %}
                <div class="materias">
                    {% for materia in materias %}
                        <div class="materia-container">
                            <h3><span>{{materia.nome_materia}}</span> <input type="checkbox" id="check" name="check-materia" required></h3>
                        </div>
                        {% endfor %}
                    
                </div>
                <button type="button" class="btn-submit-materia" id="btn-modal-submit">
                    Enviar
                </button>
                {% endif %}
            </section>
        </section>


        <section class="lugar-metas" id="metas">
            {% if metas %}
            <div class="metas">
                {% for meta in metas %}
                    <div class="metas-container">
                        <div class="meta-nome">
                            <p>{{meta.nome_metas}}</p>
                        </div>
                        <div class="meta-tempo">
                            <p>{{meta.horas_meta}} : {{meta.minutos_meta}} : {{meta.segundos_meta}}</p>
                        </div>
                       
                    </div>
            </div>
                 {% endfor %}
            {% endif %}
        </section>

    {% load static %}
    <script src="{% static '/cronometro.js' %}"></script>
    <script src="{% static '/modal.js' %}"></script>
</body>
</html>