{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FocusTime</title>
    <link rel="stylesheet" href="{% static "cronometro.css" %}">
</head>
<body>
    <section class="container-pai">
        <section class="container-cronometro" id="cronometro">
            <section  id="segundos">
                <h3>00</h3>
            </section>
            <p>:</p>
            <section id="minutos">
                <h3>00</h3>
            </section>
            <p>:</p>
            <section id="horas">
                <h3>00</h3>
            </section>
            <section class="acoes" id="acoes">
                <button id="play" action="start">
                    <img src="{% static 'img/icon_play.png' %}" alt="Play">
                </button>
                
            </section>
        </section>
        <section class="break">
            <br/>
        </section>
        <section class="lugar-metas" id="metas">
            <br/>
        </section>
    </section>

    {% load static %}
    <script src="{% static '/cronometro.js' %}"></script>
</body>
</html>