{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <title>FocusTime</title>
</head>
<body>
    <div class="menuprincipal">
        <div class="sidebar">
            <div class="usericon">U</div>
            <h2>user</h2>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Amigos</a></li>
                <li><a href="#">Metas</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Dashboard</h1>
           
        </div>
    </div>

</body>
</html>
    
</body>
</html>