{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="icon" href="{% static "img\faviconBatmanTIRARDEPOIS.jpg" %}">
    <title>FocusTime</title>
</head>
<body>
    <div class="menuprincipal">
        <div class="sidebar">
            <div class="usericon">U</div>
            <h2>user</h2>
            <ul>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Amigos</a></li>
                <li><a href="">Metas</a></li>
                <li><a href="{% url 'cadastro_materia' %}">Adicionar materia</a></li>
            </ul>
        </div>

        <div class="content">
            <h1>Dashboard</h1>
            {%if messages %}
            <div>class = "messages"</div>
                {%for message in messages%}
                <div class = "messages{{message.tags}}">
                    <p>{{ message }}</p>
                </div>
                {% endfor %}
       
            {% endif %}

            {% if messages %}
            <div class = "materia_cadastrada">
                    <section class="container_materia">
                        <button class="mais">+</button>
                    </section>
            </div>
            {% endif %}

            {% if materias %}
            <div class="materia_cadastrada">
                <section class="container_materia">
                    <button class="mais">+</button>
                    <ul>
                        {% for materia in materias %}
                            <li>{{ materia.nome_materia }} ({{ materia.horas }}h {{ materia.minutos }}m {{ materia.segundos }}s)</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            {% endif %}
        </div>

    </div>

</body>
</html>
    